################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CrudUsuarioNetCore/v16/Server/sqlite3/storage.ide-shm
/.vs/CrudUsuarioNetCore/v16/Server/sqlite3/storage.ide-wal
.db.lock"