@model Domain.Entities.Perfil

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar perfil</h1>

<h4>Perfil</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input hidden="hidden" asp-for="IdPerfil" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="NomePerfil" class="control-label"></label>
                <input asp-for="NomePerfil" class="form-control" />
                <span asp-validation-for="NomePerfil" class="text-danger"></span>
            </div>
            @if(Model.Funcionalidades.Count > 0)
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Nome Funcionalidade
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Funcionalidades)
                        {
                            <tr>
                                <td>@item.Nome</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        <div class="form-group">
            <input type="submit" value="Editar" class="btn btn-primary" /> |
            <a class="btn btn-info" asp-action="Index">Voltar para a lista</a>
        </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
